@use "@/styles/global/theme";

.container {
  display: flex;
  flex: 1;
}

.cell {
  &:last-child {
    flex: 1;
  }
}

.divider {
  position: relative;
  z-index: 1;
  width: 1px;
  height: 100%;
  background-color: theme.color("bg2");
  cursor: col-resize;

  &:hover,
  &.active {
    background-color: #d0d0d0;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0 -5px;
    width: calc(100% + 10px);
  }
}
