@use "@/styles/globals";
@use "@/styles/global/theme";

html,
body,
#root {
  display: flex;
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  margin: 0;
  background-color: theme.color("bg");
  color: theme.color("fg");
  overscroll-behavior: none;
}
