html,
body,
#root {
  display: flex;
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  margin: 0;
  background-color: #121212;
  color: white;
}

canvas {
  inline-size: 100%;
  block-size: 100%;
  background-color: #606060;
}
