@use "@/styles/global/theme";

.container {
  grid-area: nav;
  display: flex;
  height: fit-content;
  gap: 0.7em;
}

.control_main {
  padding: 0.7em;
  padding-bottom: 0.6em;
  background-color: theme.color("bg");
  border: 1px solid theme.color("bg2");
  border-radius: 0.5em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.control_small {
  padding: 0.2em 1em;
  width: 80px;
  height: 1.5em;
  background-color: theme.color("bg");
  border: 1px solid theme.color("bg2");
  border-radius: 0.5em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

  & > select {
    color: inherit;
  }
}

.icon {
  & path {
    opacity: 0.7;
  }
}

.select_mode_group {
  display: flex;
  background-color: theme.color("bg");
  border: 1px solid theme.color("bg2");
  border-radius: 0.5em;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  block-size: fit-content;
}

.select_mode_radio {
  display: none;
}

.select_mode_label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  cursor: pointer;
  transition: all 0.15s ease;
  border-right: 1px solid theme.color("bg2");

  &:last-child {
    border-right: none;
  }

  &:hover {
    background-color: theme.color("bg3");
  }
}

.select_mode_radio:checked + .select_mode_label {
  background-color: theme.color("bg2");
  color: theme.color("fg");
}

.select_mode_icon {
  width: 1em;
  aspect-ratio: 1;
  opacity: 0.8;
}
