@use "@/styles/global/theme";

.container {
  grid-area: doc;
  width: 300px;
  height: 100%;
  background-color: theme.color("bg");
  border: 1px solid theme.color("bg2");
  border-radius: 0.5em;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.header {
  padding: 1em;
  z-index: 0;
  display: flex;

  &:hover {
    background-color: theme.color("bg2");
  }
}

.content {
  padding: 1em;
  flex: 1;
  overflow: scroll;

  & ul {
    padding-inline-start: 1em;
    margin-block: 1em;
  }

  & li {
    &::before {
      content: "- ";
      margin-inline-start: -1em;
    }
  }

  & h2 {
    margin-block-end: 1em;
    font-weight: 700;
  }

  & h3 {
    margin-block: 0.5em;
  }

  & p {
    margin-block: 1em;
  }
}
